*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(
    180deg,
    #41025a 0%,
    #5b137d 40%,
    #68218a 100%
    );

    min-height:100vh;
}

/* navbar */

.navbar{

    width:100%;
    height:60px;

    background:#070707;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 12px;

    border-bottom:2px solid #a100ff;
}

.left-navbar{

    display:flex;
    align-items:center;
    gap:10px;
}

.menu-btn{

    width:45px;
    height:45px;

    background:none;
    border:none;

    color:white;

    font-size:35px;
    cursor:pointer;
}

.logo{

    width:180px;
}

/* search */

.search-box{

    width:520px;
    height:40px;

    display:flex;

    background:white;

    border:2px solid #a100ff;

    border-radius:30px;

    overflow:hidden;
}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    padding-left:18px;

    font-size:15px;
}

.search-box button{

    width:55px;

    border:none;

    background:white;

    color:#a100ff;

    font-size:30px;

    cursor:pointer;
}

.nav-button{

    display:flex;
    gap:12px;
}

.nav-button button{

    border:none;

    padding:8px 18px;

    border-radius:20px;

    background:#a100ff;

    color:white;

    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

.nav-button button:hover{

    background:#c12fff;
}

/* banner */

.banner{

    width:82%;

    margin:18px auto;

    position:relative;
}

.slider{

    width:100%;

    height:240px;

    border-radius:18px;

    overflow:hidden;

    background:black;
}

.slider img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:none;
}

.slider img.active{

    display:block;
}

.prev,
.next{

    position:absolute;

    top:45%;

    transform:translateY(-50%);

    background:none;

    border:none;

    color:white;

    font-size:42px;

    cursor:pointer;
}

.prev{

    left:-25px;
}

.next{

    right:-25px;
}

.indicator{

    margin-top:10px;

    display:flex;

    justify-content:center;

    gap:8px;
}

.dot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#a38fb4;
}

.dot.active{

    background:white;
}

/* title */

.title{

    width:90%;

    margin:25px auto;
}

.title h2{

    display:inline-block;

    background:black;

    color:white;

    border:2px solid #a100ff;

    border-radius:14px;

    padding:10px 18px;

    font-size:24px;
}

/* game */

.game-container{

    width:92%;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:34px;
}

.game-card{

    text-decoration:none;

    overflow:hidden;

    border-radius:12px;

    border:2px solid #a100ff;

    background:#0b0b0b;

    transition:.3s;
}

.game-card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 25px #c12fff;
}

.game-card img{
    width:100%;
    height:300px;
    object-fit:cover;
    display:block;
}

.game-name {
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
}

.game-name p{
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color: #FFFF;
    margin:0;
    text-align:center;
}

/* responsive */

@media(max-width:1200px){

.game-container{

grid-template-columns:repeat(3,1fr);

}

.search-box{

width:380px;

}

}

@media(max-width:900px){

.navbar{

flex-wrap:wrap;

height:auto;

padding:10px;

gap:15px;

}

.search-box{

width:100%;

}

.game-container{

grid-template-columns:repeat(2,1fr);

}

.slider{

height:180px;

}

}

@media(max-width:600px){

.game-container{

grid-template-columns:1fr;

}

.logo{

width:140px;

}

.title h2{

font-size:18px;

}

}

/* =========================
   SIDEBAR
========================= */

.sidebar{
    position:fixed;
    top:0;
    left:-300px;

    width:280px;
    height:100vh;

    background:#070707;

    padding:15px;

    z-index:1001;

    transition:0.3s ease;
}

/* SIDEBAR SAAT AKTIF */

.sidebar.active{
    left:0;
}


/* HEADER SIDEBAR */

.sidebar-header{
    height:90px;

    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;
}


/* LOGO SIDEBAR */

.sidebar-logo{
    width:170px;
}


/* TOMBOL CLOSE */

.close-sidebar{
    position:absolute;

    top:5px;
    left:5px;

    width:40px;
    height:40px;

    background:none;
    border:none;

    color:white;

    font-size:32px;

    cursor:pointer;
}


/* MENU SIDEBAR */

.sidebar-menu{
    display:flex;
    flex-direction:column;

    gap:10px;

    margin-top:15px;
}


/* LINK MENU */

.sidebar-link{
    display:flex;
    align-items:center;

    gap:15px;

    padding:13px 15px;

    color:white;

    text-decoration:none;

    border-radius:10px;

    font-size:16px;
    font-weight:600;

    transition:0.3s;
}


/* ICON */

.sidebar-link i{
    font-size:25px;
}


/* HOVER */

.sidebar-link:hover{
    background:#5b137d;
}


/* MENU ACTIVE */

.sidebar-link.active{
    background:#7d00a8;
}


/* =========================
   OVERLAY
========================= */

.sidebar-overlay{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.55);

    z-index:1000;

    opacity:0;
    visibility:hidden;

    transition:0.3s;
}


/* OVERLAY AKTIF */

.sidebar-overlay.active{
    opacity:1;
    visibility:visible;
}